apiVersion: v1
kind: Pod
metadata:
  name: two-tier-app-pod
spec:
  containers:
  - name: two-tier-app-pod
    image: sampaatil/flask-app:latest
    env:
      - name: MYSQL_HOST
        value: "Your value"          # this is your mysql's service clusture IP, Make sure to change it with yours
      - name: MYSQL_PASSWORD
        value: "admin"
      - name: MYSQL_USER
        value: "root"
      - name: MYSQL_DB
        value: "myDb"
    ports:
      - containerPort: 5000
    imagePullPolicy: Always
    
